div.video-background {
    background: #FFFFE2;
    border: 1px  #bbb;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    display: block;
    border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
}