.content {
    margin-top: 100px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    display: block;
}

.video{
    width: 720px;
    height: 480px;
}

.video-menu{
    border: 40px;
    border-color: black;
    padding: 20px;
}

.icons{
    width: 64px;
    height: 32px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: dark;
    color: white;
}



ul li{
    display: inline;
}
