.video-background {
    background: #FFFFE2;
    border: 10px  #bbb;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    text-align: center;
    display: block;
    border-radius: 10px;
   -moz-border-radius: 30px;
   -webkit-border-radius: 30px;
}

.video{
    width: 720px;
    height: 480px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: dark;
    color: white;
    text-align: center;
}

