#content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: dark;
    color: white;
}

.item{
    width: 26px;
    height: 26px;
}

figure{
    width: 90%;
    min-width: 320px;
    margin: 0 auto;
}

video{
    width: 100%;
    height: auto;
}

#text-footer{
    text-align: right;
    vertical-align: middle;
    display: table-cell
}

